@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

main>.first{
    display: flex;
    /* border: 2px solid black; */
    background-image: url(./images/bg-hero-desktop.svg);
    background-color: hsl(193, 100%, 96%);
    flex-direction: column;
    padding: 2rem 5rem;
    margin-bottom: 7rem;
    /* align-items: center; */
}

.first .nav{
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4rem;
}
.first .nav button{
    width: 11rem;
    border: 1px solid black;
    height: 2.5rem;
    text-align: center;
    background-color: white;
    border-radius: 3rem;
    box-shadow: 0px 0px 14px 2px rgba(219,199,219,1);
    border: none;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
}

.text-img{
    display: flex;
    justify-content: space-between;
}
.text-img .text{
    margin-top: 4rem;
}
.text-img .text h1{
    margin-bottom: 2rem;
}
.text-img .text p{
    line-height: 1.5rem;
    font-size: 15px;
    margin-bottom: 2rem;
}
.text-img .img{
    padding-left: 8rem;
}
.text-img .img img{
    width: 40rem;
}
.text-img .text button{
    width: 13rem;
    height: 2.5rem;
    border: none;
    color: white;
    text-align: center;
    background-color: hsl(322, 100%, 66%);
    border-radius: 3rem;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
}

.boxes{
    display: flex;
    flex-direction: column;
    margin-bottom: 7rem;
}
.boxes .box{
    display: flex;
    margin: 1.5rem 8rem;
    padding: 2rem 0 2rem 5rem;
    border-radius: 1rem;
    /* text-align: center; */
    /* justify-content: space-between; */
    align-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 14px 1px rgba(219,199,219,1);
    
}
.boxes .box .text{
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-right: 18.5rem;
}
.boxes .box .img img{
    width: 20rem;  
}
.boxes .box .text h2{
    margin-bottom: 1rem;
}
.boxes .box .text p{
    line-height: 1.5rem;
    font-size: 14px;
    color: black;
    opacity: 80%;
}
.boxes .second .text{
    padding-left: 18.5rem;
    padding-right: 1rem;
}

.mini-box{
    /* border : 2px solid black; */
    display: flex;
    margin: 0 24rem;
    height: 13rem;
    align-items: center;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
    box-shadow: 0px 0px 14px 1px rgba(219,199,219,1);
}
.mini-box button{
    width: 20rem;
    height: 4rem;
    border: none;
    color: white;
    text-align: center;
    background-color: hsl(322, 100%, 66%);
    border-radius: 3rem;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    box-shadow: 0px 0px 14px 1px rgba(219,199,219,1);
}

.footer{
    border: 2px solid black;
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    align-items: center;
    color: white;
    background-color: hsl(192, 100%, 9%);
    padding: 8rem 4rem;
}
.footer .info {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    width: 30%;
}
.info>img{
    width: 15rem;
    color: white;
    margin-bottom: 2rem;
}
.location, .phone, .email{
    display: flex;
    margin-bottom: 1rem;
}
.location-phone-email img{
    margin-right: 1rem;
    width: 1rem;
    height: 1rem;
}
.location-phone-email p{
    color: white;
    opacity: 80%;
}
.footer .links{
    display: flex;
    flex-direction: column;
    
}
.footer .links a{
    text-decoration: none;
    color: white;
    opacity: 80%;
    margin-bottom: 1rem;
}

.footer .social i{
    border: 1.5px solid white;
    color: white;
    opacity: 80%;
    margin-right: 1rem;
    padding: 0.5rem;
    border-radius: 50%;
}
.footer .social{
    margin-top: -5rem;
}
.footer-text{
    display: flex;
    justify-content: flex-end;
    margin-top: -5rem;
    color: white;
    opacity: 80%;
}
.attribution{
    margin-top: 2rem;
    color: white;
}
